{% doc %}
  @param id [String]
  @param title [String]
  @param content [String]
  @param component [String]
{% enddoc %}

<div
  {% if id %}
    id="{{ id }}"
  {% endif %}
  class="drawer"
  data-component="{{ component | default: 'drawer' }}"
  aria-hidden="true"
  role="dialog"
  aria-label="{{ title | default: 'Drawer' | escape }}"
  inert
>
  <div
    class="h-full flex flex-col overflow-y-scroll overflow-scroll no-scrollbar"
    data-scroller
  >
    <div class="sticky top-0 bg-bg px-4 flex justify-between items-center py-5 z-10">
      <div>
        {% if title %}
          <span class="text-[12px] text-fg">{{ title }}</span>
        {% endif %}
      </div>

      <button
        class="text-[12px] text-fg"
        data-close
        aria-label="Close Menu"
      >Close</button>
    </div>

    <div class="px-4">
      {{ content }}
    </div>
  </div>
</div>